<h1>Search Spotify</h1>
<input [(ngModel)]="searchString">
<select [(ngModel)]="searchCategory">
  <option *ngFor="let category of searchCategories" [value]="category">{{category}}</option>
</select>
<button class="btn btn-light" (click)="search()">Search</button>

<div *ngIf="searchCategory==='artist' || searchCategory==='album'">
  <app-carousel [resources]="resources" carouselId="myCarousel"></app-carousel>
</div>
<div *ngIf="searchCategory==='track'">
  <app-track-list [tracks]="resources"></app-track-list>
</div>
