<div *ngIf="resources" id="{{carouselId}}" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="3000">
  <div class="carousel-inner">
    <app-carousel-card *ngFor="let resource of resources; let i = index;" [resource]="resource" [ngClass]="{'carousel-item': true, 'active': i === 0}"></app-carousel-card>
  </div>
  <a class="carousel-control-prev" href="#{{carouselId}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{carouselId}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

